
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//sweetalert
@import '~sweetalert2/src/sweetalert2.scss';
//scrollbar
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

//select2
@import "~select2/src/scss/core.scss";
/*
@import "~select2/src/scss/_multiple.scss";
@import "~select2/src/scss/_single.scss";
@import "~select2/src/scss/_dropdown.scss";
*/


label.error {
  color: red;
  font-weight: bold;
  font-size: 13px;
}

.margin-right-auto{
  margin-left: auto !important;
}

.customisedalert {
  margin-top: 2% !important;
  width: 74%;
  margin: 0 auto;
  text-align: center;
}

.logohejr{
  width: 53%;
  margin: 0 auto;
}


@media screen and (max-width: 700px) {
  .logohejr {
    width: 30%;
    margin: 0 auto;
  }
}


.titlealert{
  font-size: 17px;
  padding-left:12px;
}

.centertextalign{
  text-align: center !important;
}
.secondPlace{
  margin-top: 10px;
}


.colorwhite{
  color:white !important;
}

.ps__thumb-x{
  display:none !important;
}

.smallicon{
  font-size: 10px !important;
}

.imagePlace{
  margin-bottom: 61px;
}

h3.headerdisc {
  margin-bottom: 23px;
}

.infobox{
  margin-bottom: 10px;
}
.addressevent{
  text-align: center;
  margin: 0 auto;
}